#Header{
	padding:50px;
    float:top;
	background-color:#4866c9;
    color:#eaeaea;
}

#menu{
	color:#fafafa;
	padding:10px;
	list-style-type:none;
}
ul#menu li{
    padding:5px;
    float:left;
}
Ul#menu li h4{
    text-decoration:none;
}
ul#menu li a{
	display:block;
	text-align:center;
	font-size:20px;
	text-decoration:none;
	color:#fafafa;
	padding:5px;
}
ul#menu li:hover{
	color:#4866c9;
	background-color:#fafafa;
}
ul#menu li a:hover{
	color:#4866c9;
	background-color:#fafafa;
}

#logout{
	color:#fafafa;
	padding:10px;
    list-style-type:none;
    float: right;
}