Body{font-family:Arial,helventica,sans-serif}
Body,div,h1,h2,h3,h4,h5,h6,p,ul,img{margin:0px;padding:0px}

#Login{
    width:300px;
    float:left;
	padding:25px;
	padding-bottom:25px;
	margin-top:10px;
	margin-left:75px;
	background-color:#401e77;
	color:#ffff;
}
#FormGroup{
	padding:20px;
}

#submit{
	float:right;
}